<p>Добро пожаловать домой, Александр</p>

<div>
  <% @projects.each do |project| %>
      <div>
        <a href="<%= project.link %>" target="_blank"><%= project.title %></a>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project_path(project), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
  <% end %>
</div>