// Place all the styles related to the Hall controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$background: white;
$color: black;
$link: #0066C1;
$visited: #0D82EB;
$hover: #0800CA;

$background_dark:#111;
$color_dark: white;
$link_dark: #5300C7;
$visited_dark: #6C10ED;
$hover_dark: #BB00C2;
* {
  box-sizing: border-box;
}
.body {
  font-family: Helvetica Neue,Arial,sans-serif;
  background: $background;
  color: $color;
  font-size: 1.25rem;
  padding: 1em;
  margin: 0;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  transition: background 300ms ease, color 300ms ease;
  &_dark {
    background: $background_dark;
    color: $color_dark;
  }
}
main {
  flex: 1;
}
footer {
  nav {
    margin-bottom: 0;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.25em;
  line-height: 1.2;
}
a {
  text-decoration: none;
  color: $link;
  transition: 300ms ease-out;
  background: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1" height="1"%3E%3Crect x="0" y="0.5" width="1" height="0.5" fill="rgba(0, 102, 193, 0.35)"/%3E%3C/svg%3E') left bottom repeat-x;
  transition: background 300ms ease, color 300ms ease;
  .body_dark & {
    color: $link_dark;
    background: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns="http://www.w3.org/2000/svg" width="1" height="1"%3E%3Crect x="0" y="0.5" width="1" height="0.5" fill="rgba(83, 0, 199, 0.35)"/%3E%3C/svg%3E') left bottom repeat-x;
  }
  &:visited {
    color: $visited;
    .body_dark & {
      color: $visited_dark;
    }
  }
  &:hover,
  &:active {
    outline-width:0;
  }
  &:hover {
    box-shadow: inset 0px -1px $hover;
    color: $hover;
    transition: 0s;
    .body_dark & {
      box-shadow: inset 0px -1px $hover_dark;
      color: $hover_dark;
    }
  }
}
p {
  margin: 1em 0;
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
header {
  margin-bottom: 3em;
  h1 {
    margin: 0;
  }
  p {
    margin: 0;
  }
}
nav {
  margin: 1em 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    margin-right: 1em;
    margin-bottom: .25em;
  }
}
.header {
  &__line {
    display: flex;
  }
  &__link {
    background: none !important;
    &:hover {
      box-shadow: none !important;
    }
  }
  &__logo {
    width: 80px;
    height: 80px;
    margin-right: 1em;
    display: block;
    flex-shrink: 0;
  }
}
.link-auth {
  opacity: 0.1;
  &:hover {
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}